<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!-- SEMANTIC UI -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
   <!-- BOOTSTRAP -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <!-- GOOGLE FONTS -->
   <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
   <!-- STYLESHEETS -->
   <link rel="stylesheet" href="/stylesheets/app.css">
   <title>Photon</title>
</head>

<body>
   <div class="background__gradient">
      <header>
         <div class="logo">
            <h4 class="nav__elements">Photon</h4>
            <ul class="nav__links nav__elements">
               <a href="/blogs" class="nav__elements to-blogs">
                  <li class="nav__elements><a class=" to" href="/blogs">To <span class="blog-span">Blogs</span></li>
               </a>
               <li class="nav__elements"><a class="create__blog" href="/blogs/new">Create Blog</a> </li>
            </ul>
         </div>
         <nav class="nav">
            <a href="#"><button class="cta nav__elements">Subscribe to the Blog</button></a>
            <a class="login nav__elements" href="/login">Log in</a>
         </nav>
      </header>