<%- include('partials/header') %>
<div class="big-container">
   <div class="authenticate-form-container container">
      <h4>Log in</h4>
      <form action="/login" method="post">
         <input class="input" type="text" name="username" placeholder="Username">
         <input class="input" type="password" name="password" placeholder="Password">
         <button class="submit__button" type="submit">Log in</button>
      </form>
   </div>
</div>


<%- include('partials/footer') %>