<%- include('partials/header') %>

<div class="big-container">
   <div class="authenticate-form-container container">
      <h4>Sign Up</h4>
      <form action="/register" method="post">
         <input class="input" type="text" name="username" placeholder="Username">
         <input class="input" type="password" name="password" placeholder="Password">
         <button class="submit__button" type="submit">Sign Up</button>
      </form>
   </div>
</div>


<%- include('partials/footer') %>