@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;900&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body {
   overflow-x: hidden;
}

body {
   position: relative;
   width: 100%;
   z-index: -1;
   height: 100vh;
   background-color: #242931;
}

body#show__page {
   background-color: white;
}

/* NAVBAR */

header {
   font-family: 'Raleway', sans-serif;
   padding: 45px 0;
}

.logo {
   display: inline-block;
}

.logo h4 {
   text-align: left;
   text-transform: uppercase;
   font-size: 40px;
   padding: 0 auto;
   margin-top: 5px;
   font-weight: 900;
   font-family: 'Raleway', sans-serif
}

.home {
   color: white;
   text-decoration: none;
}

.home:hover {
   color: white;
   text-decoration: none;
   cursor: pointer;
}

.home-white {
   color: #242931;
   text-decoration: none;
}

.home-white:hover {
   color: #242931;
   text-decoration: none;
   cursor: pointer;
}

.navigation {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 0 10%;
}

.navigation ul li {
   display: inline-block;
}

.nav__links {
   font-size: 20px;
   float: right;
}

.nav__links-blue {
   list-style: none;
   font-size: 20px;
}

.nav__links li {
   display: inline-block;
   padding: 0 20px;
}

.nav__links-blue li {
   display: inline-block;
   padding: 0 20px;
}

.burger {
   margin-top: 15px;
   display: none;
}

.burger div {
   width: 25px;
   height: 3px;
   margin: 5px;
   background-color: rgb(238, 238, 238);
}

.burger-blue {
   margin-top: 15px;
   display: none;
}

.burger-blue div {
   width: 25px;
   height: 3px;
   margin: 5px;
   background-color: #242931;
}

@media screen and (max-width:977px) {
   body {
      overflow-x: hidden;
   }
   .logo {
      text-align: center;
      text-decoration: none;
   }
   .nav__links {
      position: absolute;
      top: 12vh;
      right: 0;
      height: 100%;
      width: 100%;
      background-color: #242931;
      margin-right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      transform: translateX(100%);
      /* transition: transform 0.5s ease-in; */
   }
   .nav__links-blue {
      position: absolute;
      top: 12vh;
      right: 0;
      height: 100%;
      width: 100%;
      background-color: white;
      margin-right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      transform: translateX(100%);
      /* transition: transform 0.5s ease-in; */
   }
   .nav__links li {
      opacity: 0;
   }
   .nav__links-blue li {
      opacity: 0;
   }
   .header__div {
      width: 70%;
   }
   .burger {
      display: block;
      cursor: pointer;
   }
   .burger-blue {
      display: block;
      cursor: pointer;
   }
   .nav-active {
      transform: translateX(0);
      transition: transform 0.2s ease-in;
   }
   .form-container {
      width: 90%;
   }
}

@keyframes navLinkFade {
   from {
      opacity: 0;
      transform: translateX(50px);
   }
   to {
      opacity: 1;
      transform: translateX(0);
   }
}

.nav__links li a {
   text-decoration: none;
}

.cta {
   padding: 9px;
   border: 2px solid;
   border-radius: 5px;
   background: none;
   font-weight: 600;
   letter-spacing: 1px;
}

.cta:focus {
   outline: none;
}

.login {
   color: #222831;
   text-decoration: none;
   font-size: 20px;
}

.login:hover {
   text-decoration: none;
   color: rgb(238, 238, 238);
}

.login:focus {
   text-decoration: none;
}

.to-blogs:hover {
   text-decoration: none;
   color: rgb(238, 238, 238);
}

.to-blogs-blue:hover {
   text-decoration: none;
   color: #222831;
}

.nav__elements {
   color: rgb(238, 238, 238);
   font-family: 'Open Sans Condensed', sans-serif;
}

.nav__elements:hover {
   text-decoration: none;
}

.nav__elements .create__blog {
   color: rgb(238, 238, 238);
   font-weight: 550;
   letter-spacing: 1px;
}

/* NAVBAR-BLUE */

.nav__elements-blue .create__blog-blue {
   color: #222831;
   font-weight: 550;
   letter-spacing: 1px;
}

.nav__elements-blue {
   color: #222831;
   font-family: 'Open Sans Condensed', sans-serif;
}

/* FOOTER  */

.footer__container {
   height: 150px;
   color: rgb(245, 241, 241);
}

.footer__container p {
   font-family: 'Raleway', sans-serif;
   font-size: 20px;
   text-align: center;
}

hr {
   margin: 50px 0;
   height: 0.5px;
   background-color: rgb(245, 241, 241);
}

/* INDEX BODY */

.card-container {
   width: 100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   padding: 0 1%;
}

.header__div {
   padding: 0 auto;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 100px;
}

.index__header {
   font-size: 40px;
   font-weight: 300;
   font-family: 'Open Sans Condensed', sans-serif;
   color: rgb(238, 238, 238);
   letter-spacing: 1px;
   text-align: center;
}

.blog__card {
   background-color: rgb(238, 238, 238);
   height: 500px;
   width: 350px;
   border-radius: 10px;
   margin: 40px 15px;
   -webkit-box-shadow: 0px 0px 19px -2px #000000;
   box-shadow: 0px 0px 19px -2px #000000;
}

.preview__image {
   background-color: rgb(238, 238, 238);
   height: 300px;
   width: 100%;
   border-radius: 10px;
}

.preview__image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
}

.preview-date {
   font-size: 11px;
   color: grey;
}

.card__body {
   padding: 10px 15px;
}

.preview__heading a {
   font-size: 25px;
   font-weight: bold;
   color: #222831;
   text-decoration: none;
   margin: 20px 0;
}

.heading__text {
   margin-top: 20px;
}

.preview__body p {
   margin-top: 15px;
}

.primary a {
   margin-left: 50px;
}

.read-more {
   width: 100%;
}

/* NEW BLOG FORM */

.big-container {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
}

.form-container {
   width: 90%;
   height: 90vh;
   margin-top: 0px;
   border: 1px solid white;
   border-radius: 20px;
   background-color: rgb(250, 250, 250);
   box-shadow: -4px 6px 36px -3px rgba(110, 110, 110, 0.3);
}

.authenticate-form-container {
   width: 40%;
   height: 45vh;
   margin-top: 0px;
   border: 1px solid white;
   border-radius: 20px;
   background-color: rgb(250, 250, 250);
   box-shadow: -4px 6px 36px -3px rgba(110, 110, 110, 0.3);
}

@media(max-width: 970px) {
   .authenticate-form-container {
      width: 60%;
      height: 45vh;
      margin-top: 0px;
      border: 1px solid white;
      border-radius: 20px;
      background-color: rgb(250, 250, 250);
      box-shadow: -4px 6px 36px -3px rgba(110, 110, 110, 0.3);
   }
   .blog__card {
      margin: 30px 15px;
   }
}

@media(max-width: 500px) {
   .authenticate-form-container {
      width: 80%;
      height: 45vh;
      margin-top: 0px;
      border: 1px solid white;
      border-radius: 20px;
      background-color: rgb(250, 250, 250);
      box-shadow: -4px 6px 36px -3px rgba(110, 110, 110, 0.3);
   }
   .blog__card {
      margin: 20px 15px;
   }
}

.container h4 {
   font-family: 'Raleway', sans-serif;
   color: #88c1f6;
   font-size: 35px;
   font-weight: 600;
   margin-left: 15%;
   margin-top: 30px;
}

.input {
   display: block;
   width: 70%;
   height: 50px;
   margin: 25px auto 0px;
   border: none;
   border-radius: 15px;
   background: none;
   outline: none;
   padding: 5px 0 5px 15px;
   box-shadow: -4px 6px 36px -3px rgba(110, 110, 110, 0.3);
}

textarea {
   width: 70%;
   height: 330px;
   margin: 25px auto 10px;
   border: none;
   border-radius: 15px;
   background: none;
   outline: none;
   padding: 15px 0 5px 15px;
   box-shadow: -4px 6px 75px -9px rgba(110, 110, 110, 0.3);
}

form {
   display: flex;
   flex-direction: column;
   align-content: center;
}

::-webkit-input-placeholder {
   color: rgb(161, 161, 161);
   font-weight: bold;
   letter-spacing: 1px;
}

.submit__button {
   width: 200px;
   height: 50px;
   padding: 10px;
   font-size: 20px;
   border: none;
   outline: none;
   border-radius: 15px;
   margin-top: 25px;
   margin-left: 15%;
   color: white;
   background-color: rgb(79, 151, 245);
}

.submit__button:focus {
   outline: none;
}

@media screen and (max-width:977px) {
   textarea {
      width: 100%;
   }
   .input {
      width: 100%;
   }
   .submit__button {
      text-align: center;
      margin: 20px auto;
   }
}

/* SHOW ROUTE */

.show__container {
   width: 100%;
}

.show-blog__card {
   width: 100%;
}

.show__image-container {
   width: 100%;
   padding: 0 auto;
}

.show__image {
   border-radius: 15px;
   margin: 0 auto;
   text-align: center;
   width: 100%;
   -webkit-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.28);
   box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.28);
}

.show__body {
   padding: 15px auto;
   font-size: 16px;
}

.show__body p {
   line-height: 30px;
}

.show__body a {
   font-size: 20px;
}

.date-and-heading {
   padding: 20px auto;
   margin-bottom: 20px;
}

.date-and-heading h1 {
   font-family: 'Open Sans Condensed', sans-serif;
   font-weight: bold;
}

.show-date {
   margin-top: 20px;
   line-height: 0;
   margin-bottom: 30px;
}

.submitted__by {
   padding: 0 auto;
}

.back-button {
   width: 150px;
   height: 30px;
}

.show__hr {
   margin: 30px 0;
}

/* UPDATE ROUTE */

.cancel__button {
   /* text-align: center; */
   width: 200px;
   height: 60px;
   padding: 13px 40px;
   font-size: 20px;
   border: none;
   outline: none;
   border-radius: 15px;
   margin-top: 25px;
   margin-left: 10px;
   color: white;
   background-color: rgb(113, 117, 121);
}

.cancel__button:hover {
   text-decoration: none;
   color: white;
}

/* DELETE ROUTE */

.delete-button {
   display: inline;
}

.edit-button {
   display: inline;
}

/* COMMENTS */

.add__comment {
   margin-bottom: 30px;
}

.comment-delete__button {
   display: inline;
}

.add-comment-container {
   padding-top: 30px;
   width: 60%;
   height: 40vh;
   margin-top: 0px;
   border: 1px solid white;
   border-radius: 20px;
   background-color: rgb(250, 250, 250);
   box-shadow: -4px 6px 36px -3px rgba(110, 110, 110, 0.3);
}

/* FLASH MESSAGES */

.flash__message-success {
   position: absolute;
   right: 60px;
   top: 110px;
   font-family: 'Raleway', sans-serif;
   font-size: 15px;
   background-color: #a8df65;
   color: white;
   padding: 5px;
   border-radius: 5px;
}

.flash__message-error {
   position: absolute;
   right: 60px;
   top: 110px;
   font-family: 'Raleway', sans-serif;
   font-size: 15px;
   background-color: #eb4d55;
   color: white;
   padding: 5px;
   border-radius: 5px;
}